.vue-splash-container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.vue-splash-header {
  padding: 3rem 0;
  text-align: center;

  &__text {
    display: block;
    color: $bodyColor;
    font-size: xxx-large;
    letter-spacing: 0.5rem;
    transition: all 0.4s ease;
    text-shadow: 0 0.1rem 1.5rem;
    font-family: 'Arima Madurai', sans-serif;

    &:hover {
      text-shadow: 0 0.1rem 5rem;
    }
  }

  &__caption {
    display: block;
    font-size: medium;
    letter-spacing: 0.15rem;
  }
}

.vue-splash-content {
  display: flex;
  align-items: center;
  justify-content: center;
}